body{
    margin: 0px;
    padding: 0px;
    color: rgb(97, 94, 97);
    background-color: #e5e5e5;
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: flex-end;
    height: 60px;
    background-color: #f7e9e9;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}
nav ul a{
    margin: 30px;
    color: rgb(97, 94, 97);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    margin: 0px;
}
.orange-highlight{
    color:#FF8367;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16x;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5%;
    color: white;
    font-weight: bold;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 40px;
}
.half-width img{
    height: 500px;
}
section{
    height: 500px;
    padding-top: 100px;
}